.logo {
  margin-right: 93px;
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__web {
  color: var(--accent-color);
}

.logo--footer {
  display: block;
  color: var(--white-text-color);
  font-style: normal;
  margin-bottom: 20px;
}
